<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EclecticIQ">
<!--  <listeners>-->
<!--    <listener class-name="SuiteUtils.SuiteListener"/>-->
<!--  </listeners>-->
  <test name="Tests">
    <classes>
      <class name="Tests.Test1">
        <methods>
          <include name="TestSortingOfFirstAndSecondColumn"/>
          <include name="TestFilterHappyPath"/>
          <include name="TestFilterToFail"/>
        </methods>
      </class>
    </classes>
  </test> <!-- 11 Tests -->
</suite> <!-- EclecticIQ -->
